mixin header(name)
  - name = name || ''
  header(class="header " + name) 
    .container
      .row.row--aic
        .col-12.col-sm-6
          .logo
            .logo__img  
              +logo()
            .logo__text Строительство из бревна и бруса <br> по Нижегородской области
        .col-12.col-sm-6
          .header__info
            a.phone(href="tel:88314106712") 8 (831) 410 67 12 
            a.mail(href="mailto:ecokubnn@mail.ru") ecokubnn@mail.ru




















































//- 