mixin foot()
  footer.foot
    .container
      .row.police
        .col-12.col-lg-4
          | © 2018 «каталог.экокуб-нн.рф». Все права защищены. 
        .col-12.col-lg-4.police-c
          | ООО "Экокуб" ИНН 5288140467, ОГРН 1175275089978
        .col-12.col-lg-4.police-r
          | Сайт не является публичной офертой

